<form class="container" ng-controller="loginCtrl">
  <div>
    <label for="email" class="lbl_email">Email Id</label>
    <input type="text" class="form-control" id = "email" ng-model="email" >
  </div>
 <br>
  <div>
    <label for="password">Password</label>
 	<input type="password" class="form-control" id="pwd" ng-model="password">
  </div>
  <br>
	<button type="submit" class="btn btn-default" ng-click="loginUser()">Submit</button>&nbsp;&nbsp;
	<a href="register">Register here</a>
</form>
<style>
 #email{
  width: 75%;
 }
 
 #pwd{
  width: 75%
 }
 
 .container{
  margin-top: 12%;
  margin-left: 41%;
  border: 1px solid gainsboro;
  width: 325px;
 }
 
 .lbl_email{
 margin-top: 9%;
 }
</style>
